<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <%- include('_header') %> 

    <div class="container mb-4">
        <h2 class="mt-4 mb-4">Your Articles</h2>
        <% if(articles.length===0){ %>
            <div class="text-muted">Create your first article by clicking on the "Create An Article" on the navbar!</div> 
        <% } %>
        <% articles.forEach(article=>{ %>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title"><%= article.title %> </h5>
                    <p class="text-muted"><%= article.createdAt.toLocaleDateString() %> </p>
                    <div class="card-text mb-4">
                        <%= article.summary %> 
                    </div>
                    <a href="/blog/<%= username %>/articles/<%= article._id %>  " class="btn btn-secondary">Read More</a>
                    <a href="/blog/<%= username %>/articles/edit/<%= article._id %>" class="btn btn-warning">Edit</a>
                    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#ModalCenter">Delete</button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalCenterTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete "<%= article.title %>"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form action="/blog/<%= username %>/articles/<%= article._id %>?_method=DELETE " method="POST" class="d-inline">
                                <!--use method override to create a delete method when user click on the delete button-->
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>  
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
</body>
</html>