<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <%- include('../user/_header') %> 
    <div class="container">
       <h1 class="mb-4 mt-4">Create An Article</h1>
       <form action="/blog/<%= username %>/articles/new" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input required value="<%= article.title %> " type="text" name="title" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <textarea name="summary" id="summary" class="form-control"><%= article.summary %></textarea>
            </div>
            <div class="form-group mb-4">
                <label for="markdown">Markdown</label>
                <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
            </div>
            
            <a href="/blog/<%= username %>/articles " class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
       </form>
    </div>
</body>
</html>